/vendor/
node_modules/
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/build

/storage/private.pem.key
/storage/*.key
/storage/public.pem
/storage/*.pem

.env.testing
*.pem
*.key
*.example.json
*.cache.json


